html {
  background: white;
}

/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.banner--home {
  background-image: url('../images/home-banner.jpg');
  background-size: cover;
  height: 100%;
  text-align: center;
}

.banner--home h1 {
  color: white;
  font-size: 400%
}

.banner--home p {
  color: white;
  font-size: 150%;
}

.banner--content {
  height: 100%;
}

.bg-opaque {
  background: rgba(0,0,0,0.35);
}

/* override utilities */

.no-margin {
  margin: 0;
}

/* Dashboard */

.latestWriting__h2  {
  margin: 0;
}

.stats__stat {
  font-size: 250%;
  font-weight: bold;
}

/* alert messages */

.alert.error {
  background-color: rgba(239,154,154,0.33);
  color: rgba(198,40,40 ,1);
  font-weight: bold;
}

/* Angular Material overrides */

md-content {
  background: white;
}
