/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.banner--home {
  background-image: url('../images/home-banner.jpg');
  background-size: cover;
  height: 100%;
  text-align: center;
}

.banner--home h1 {
  color: white;
  /*text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), 0px -1px 1px rgba(255, 255, 255, 0.3);*/
}

.banner--home p {
  color: white;
}

.banner--content {
  height: 100%;
}

.bg-opaque {
  background: rgba(0,0,0,0.35);
}

/* override utilities */

.no-margin {
  margin: 0;
}
